<template>
  <v-footer dark padless>
    <v-container>
      <v-row>
        <v-col md="6" cols="12" class="font-weight-medium line-height">
          <p class="title font-weight-bold">
            Contacto
          </p>
          <p
            v-for="(field, index) in contactData"
            :key="index"
            v-text="field"
          />
        </v-col>
        <v-col md="6" cols="12">
          <p class="title font-weight-bold">
            Nuestras redes
          </p>
          <v-btn
            v-for="(icon, key) in icons"
            :key="key"
            class="mx-1 white--text"
            icon
          >
            <v-icon>{{ icon }}</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  props: {
    contact: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      icons: [
        'fab fa-facebook-square',
        'fab fa-twitter-square',
        'fab fa-youtube',
        'fab fa-linkedin',
        'fab fa-whatsapp'
      ],
      contactData: this.contact
    }
  }
}
</script>

<style scoped>
  .line-height {
    line-height: 0.5em;
  }
</style>
