<template>
  <v-row style="min-height: 200px; background-color: #2f2f2f">
    <v-img
      :src="headerImage"
      class="hidden-sm-and-down"
      height="300px"
    >
      <v-img
        :src="headerLogo"
        class="ma-5"
        width="175px"
      />
    </v-img>
    <v-img
      :src="headerLogo"
      class="ma-auto hidden-md-and-up"
      max-width="175px"
    />
  </v-row>
</template>

<script>
export default {
  props: {
    headerImage: {
      type: String,
      default: ''
    },
    headerLogo: {
      type: String,
      default: ''
    }
  }
}
</script>
