<template>
  <v-col sm="6" md="4" lg="3">
    <v-card class="ma-5" elevation="5">
      <v-container style="background-color: #2f2f2f">
        <v-img :src="imageUrl" />
      </v-container>
      <v-card-title>{{ name }}</v-card-title>
      <v-card-text>{{ price }}</v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      ...this.product
    }
  },
  computed: {
    imageUrl () {
      return `http://${this.detail.main_image}`
    },
    price () {
      const amount = parseFloat(this.detail.price.amount)
        .toFixed(2)
      return `$ ${amount}`
    }
  }
}
</script>
