<template>
  <v-container>
    <v-row>
      <product
        v-for="product in filteredProducts"
        :key="product.id"
        :product="product"
      />
    </v-row>
  </v-container>
</template>

<script>
import Product from './Product'

export default {
  components: { Product },
  props: {
    products: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    filteredProducts () {
      const filterProducts =
        ({ is_active: isActive }) => isActive
      return this.products.filter(filterProducts)
    }
  }
}
</script>
