<template>
  <v-app>
    <app-header
      :header-image="getHeaderImage"
      :header-logo="getLogo"
    />
    <v-content>
      <nuxt />
    </v-content>
    <app-footer
      :contact="getContact"
    />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import AppHeader from '../components/AppHeader'
import AppFooter from '../components/AppFooter'

export default {
  components: {
    AppHeader,
    AppFooter
  },
  data () {
    return {}
  },
  computed: {
    ...mapGetters([
      'getLogo',
      'getHeaderImage',
      'getSocial',
      'getContact'
    ])
  }
}
</script>
