<template>
  <v-container>
    <h1>{{ errorMessage }} :(</h1>
  </v-container>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Página no encontrada',
      otherError: '¡Ups! Ha ocurrido un error'
    }
  },
  computed: {
    errorMessage () {
      return this.isPageNotFound() ? this.pageNotFound : this.otherError
    }
  },
  methods: {
    isPageNotFound () {
      return this.error.statusCode === 404
    }
  },
  head () {
    return {
      title: this.errorMessage
    }
  }
}
</script>

<style scoped></style>
