<template>
  <v-layout>
    <products :products="products" />
  </v-layout>
</template>

<script>
import axios from 'axios'

import Products from '../components/Products'

export default {
  components: { Products },
  async asyncData (context) {
    const { data } = await axios.get('http://127.0.0.1:3001/products')
    return {
      isMobile: false,
      products: data
    }
  },
  data () {
    return {
      products: []
    }
  }
}
</script>
